# Copy to .env.local (for dev) or set in Render env vars (for prod)

# Signs the session JWT. Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=change-me-to-a-long-random-string

# bcrypt hash of the admin password. Default is for password "thejoni2026!".
# Regenerate with: node -e "console.log(require('bcryptjs').hashSync('new-password', 10))"
ADMIN_PASSWORD_HASH=$2a$10$PLACEHOLDER

# ISO date of last password rotation (shown in /settings)
ADMIN_PASSWORD_ROTATED_AT=2026-05-08

# Port (Render sets this automatically)
PORT=3000
